// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Addiction
div.v-slider__thumb-label.primary > div > span {
  font-size: 16px !important;
}

.bg-grey {
  .v-input__slot {
    background-color: $superlightgray!important;
  }
}

.v-btn__content {
  text-transform: none;
}
